{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3>About Us</h3>
        <hr>
        <p>Welcome to Cozy Restaurant, the coolest new spot in town! We're all about good vibes, great food, and making you feel like you're chillin' at home with your best buds.

        Our story is lit, fam! We came up with this idea during one epic brainstorm sesh with our crew. We wanted a place where people could kick back, forget about stress, and just enjoy some seriously tasty eats.

        Picture this – you step into Cozy Restaurant, and the whole place is decked out in rad colors and comfy vibes. The menu is like a flavor explosion, with bomb combinations of classic faves and bold twists. Our chefs are legit wizards, cookin' up dishes that'll have you saying, "Whoa, that's fire!"

        But it's not just about the food, yo. Our team is like family, and we're all about makin' you feel right at home. Whether you're rollin' in with your squad or just doin' a solo mission, we gotchu covered. Our servers are friendly AF, and we'll treat you like one of the crew.

        So, grab your crew, come through, and let's make some memories at Cozy Restaurant. We promise you'll leave with a full belly, a smile on your face, and good times to last a lifetime. Peace out!</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12" id="back_to_menu_button">
        <a href="/" class="btn btn-primary" id="back_to_menu_link">Back to Main Menu</a>
    </div>
</div>
{% endblock %}
