<!-- cart.html -->

{% extends "layout.html" %}

{% block content %}

<div class="user-cart">
    <h2>Your Cart</h2>
    <table>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        {% for item_id, item_info in sessions.get_session(username).cart.items() %}
        <tr>
            <td>{{ item_info.name }}</td>
            <td>${{ item_info.price }}</td>
            <td>{{ item_info.quantity }}</td>
            <td>${{ item_info.price * item_info.quantity }}</td>
        </tr>
        {% endfor %}
    </table>
    <h3>Total: ${{ sessions.get_session(username).total_cost }}</h3>
    <form action="/checkout" method="post">
        <input type="submit" value="Checkout">
    </form>
</div>

{% endblock %}
