{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3>Frequently Asked Questions</h3>
        <hr>
        <div class="faq">
            <h4>What are your operating hours?</h4>
            <p>We are open from 6am to 10pm.</p>

            <h4>Are you wheelchair accessible?</h4>
            <p>Yes, we accommodate this.</p>

            <h4>Are pets allowed on the premises?</h4>
            <p>Yes, we allow pets on a leash in our outdoor patio.</p>

            <h4>Do you offer takeout or delivery?</h4>
            <p>We offer takeout and are currently not doing delivery.</p>

            <h4>Do you have a happy hour menu?</h4>
            <p>Not yet, we may in the future!</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" id="back_to_menu_button">
        <a href="/" class="btn btn-primary" id="back_to_menu_link">Back to Main Menu</a>
    </div>
</div>
{% endblock %}
