{% extends "layout.html" %}

{% block content %}

<div class="row" id="products_page">
    <div class="col-md-12">
        <h3>Products</h3>
        <hr>
        <div class="row">
            <form action="/checkout" method="post">
                <div class="form-group">
                    <div class="row">
                        {% for product in products %}
                        <div class="col-md-4">
                            <div class="product_card" id="product_card">
                                <img src="{{ product.image_url }}" class="product_card-img" alt="...">
                                <div class="product_card-body">
                                    <h5 class="product_card-title">{{ product.item_name }}</h5>
                                    <p class="product_card-text">{{ product.info }}</p>
                                    <p class="product_card-price">${{ product.price }}</p>
                                    <input type="number" class="quantity" id={{product.id}} name={{product.id}}
                                        placeholder="0">
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="index_buttons">
                        <button type="submit" class="btn btn-primary" id="checkout_button">Order</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- User Cart -->
<div class="user-cart">
    <h2>Your Cart</h2>
    <table>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        {% for item_id, item_info in sessions.get_session(username).cart.items() %}
        <tr>
            <td>{{ item_info.name }}</td>
            <td>${{ item_info.price }}</td>
            <td>{{ item_info.quantity }}</td>
            <td>${{ item_info.price * item_info.quantity }}</td>
        </tr>
        {% endfor %}
    </table>
    <h3>Total: ${{ sessions.get_session(username).total_cost }}</h3>
    <form action="/checkout" method="post">
        <input type="submit" value="Checkout">
    </form>
</div>

<!-- In your home.html or any other relevant file -->
<div class="row" id="home_page">
    <!-- ... Your existing content ... -->
    <div class="col-md-12" id="home_buttons">
        <a href="/cart" class="btn btn-primary" id="view_cart_button">View Cart</a>
    </div>
</div>


<!-- Logout Button -->
<form action="/logout" method="post">
    <input type="submit" value="Logout">
</form>


{% endblock %}