{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3>Exciting News: Grand Opening of Cozy Restaurant!</h3>
        <p>
            We are thrilled to announce the grand opening of our brand-new restaurant, Cozy Restaurant! After months of hard work and dedication, we are delighted to invite you to experience a culinary journey like no other. Our team of talented chefs has curated an exquisite menu, featuring a delightful fusion of flavors and mouthwatering dishes that are sure to tantalize your taste buds.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Discover Our New Menu: A Culinary Adventure Awaits</h3>
        <p>
            Embark on a gastronomic adventure with our diverse and innovative menu. From traditional classics to contemporary creations, our dishes are crafted with the freshest ingredients and a dash of passion. Savor the rich flavors of our signature dishes, indulge in the finest cuts of meat, and relish the delectable vegetarian options that cater to every palate.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Experience the Warmth of Our Ambience</h3>
        <p>
            Step into a world of comfort and warmth as you enter Cozy Restaurant. Our ambiance is carefully curated to offer you an inviting and relaxed setting, perfect for a memorable dining experience with your loved ones. Whether you're celebrating a special occasion or simply looking for a delightful evening out, Cozy Restaurant is the perfect destination.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Join Us for a Memorable Dining Experience</h3>
        <p>
            We invite you to be a part of this momentous occasion and celebrate the beginning of a culinary journey like no other. Gather your friends and family and come join us at Cozy Restaurant for a memorable dining experience filled with scrumptious delights, warm hospitality, and an atmosphere that will make you feel right at home.
        </p>
        <p>
            Don't miss the opportunity to be among the first to experience our culinary creations. Make a reservation now and secure your table at Cozy Restaurant. We look forward to welcoming you with open arms and sharing the joy of delicious food and great company.
        </p>
        <p>
            Come, indulge in an extraordinary dining experience at Cozy Restaurant, where every bite is an adventure, and every moment is cherished. See you soon!
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12" id="back_to_menu_button">
        <a href="/" class="btn btn-primary" id="back_to_menu_link">Back to Main Menu</a>
    </div>
</div>
{% endblock %}
