{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3>Vegan Menu</h3>
        <!-- Add a button to go back to the main menu -->
        <a href="{{ url_for('index') }}" class="btn btn-primary">Back to Main Menu</a>
        <hr>

        <!-- Search bar -->
        <form action="/vegan-menu" method="GET" class="form-inline mb-3">
            <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Search vegan menu items...">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>

        <div class="row">
            {% for product in vegan_items %}
            <div class="col-md-4 mb-4">
                <div id="{{ product.id }}">
                    <div class="product_card" id="product_card">
                        <img src="{{ product.image_url }}" class="product_card-img" alt="...">
                        <div class="product_card-body">
                            <h5 class="product_card-title">{{ product.item_name }}</h5>
                            <p class="product_card-text">{{ product.info }}</p>
                            <p class="product_card-price">${{ product.price }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
